h1 {
    color: black;
    text-shadow: 2px 2px gray;
}

p {
    color: black;
    font-weight: 500;
}

il {
    font-weight: bold;
}

ul {
    font-weight: 500
}

html, body {
    background-color: blueviolet;
    margin-bottom: 50px;
}

.btn {
    margin: 5px;
}

.card {
    margin-bottom: 10px;
}